@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);


/*******************************

*  General css

* ******************************/

h1, h2, h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0a2247;
    line-height: 58px;
}

h1 {
    padding-bottom: 18px;
    font-size: 44px;
}

h2 {
    padding-bottom: 22px;
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #0a2247;
    font-size: 26px;
    line-height: 46px;
}

.fa {
    padding-right: 7px;
}

.row {
    width: 80vw;
    margin: 0px auto;
    text-align: center;
}


/*******************************

*  Index Page

* ******************************/

#bg-img {
    background: url("assets/nabeel-syed-2856.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: hsla(0,0%,100%,0.3);
    background-blend-mode: overlay;
}

.btn-index {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 36px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Muli'
}

.container {
    padding-top: 28vh;
}


/*******************************

*  Raw Data Page

* ******************************/

.table-container {
    width: 96vw;
    overflow: scroll;
    margin: 0px auto;
}

.btn-back {
    margin-top: 10px;
    margin-left: 10px;
}

/* Loader */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('assets/preloader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

/* Table format */
table {
    font-family: 'Muli', sans-serif;
}

th {
    background-color: #337AB7;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}


/*******************************

*  Pivot Table Builder Page

* ******************************/

.ptb-container {
    padding-top: 6vh;
}

#bg-img2 {
    background: url("assets/traffic.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: hsla(0,0%,100%,0.5);
    background-blend-mode: overlay;
}

label {
    font-family: "Inconsolata", serif;
    font-weight: 700;
    font-size: 25px;
    color: #193323;
    padding-top: 16px;
    width: 100%;
    text-align: center;
}

.selector {
    width: 260px;
    margin: 10px auto;
}

.btn-submit {
    width: 35vw;
    margin-top: 4vh;
}

.errmsg {
    width: 60vw;
}


/*******************************

*  Pivot Table Page

* ******************************/

.ptbstr {
    font-family: 'Muli'
}


/*******************************

*  Observation Page

* ******************************/

.obs-container {

    padding: 20px 0;
}

.obs-text {
    text-align: left;
    padding-left: 30px;
    font-family: 'Muli'
}

.hypo {
    padding: 24px 0px;
}

.intro {
    font-family: 'Muli'
}
